@use './tokens' as *;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: $white;
  color: $text;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $primary-hover;
  }
}
